# This is not the entire Linux configuration file.
# Rather, it is appended onto the generated configuration file.
# See linux/default.nix for more information on how this works.

# Compile ext4 support as a built-in as it is required for booting.
CONFIG_EXT4_FS=y

# Compile graphics drivers for QEMU guests.
CONFIG_DRM=y
CONFIG_DRM_BOCHS=y
